<section id="preview-page" class="container-fluid">
    <div class="row">
        <div class="general-div">
            <h1>Score Components</h1>
        </div>
        <div class="height-panel">
            <div class="table-cell">
                <div class="table-cell-center">
                    <div class="txt-pnl">
                        <ul class="preview-list">
                            <li>
                                <a href="profile.html" [routerLink]="[routesConfig.routes.uploadresume.resumeprofile]">
                                    <div class="preview-post">
                                        <h4>
                                            Profile
                                        </h4>
                                        <div class="img-pnl" style="background-image: url(../../../../../assets/img/profile.png);">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="employment-history.html" [routerLink]="[routesConfig.routes.uploadresume.empolymenthistory]">
                                    <div class="preview-post">
                                        <h4>
                                            EMPLOYMENT<br>
                                            HISTORY
                                        </h4>
                                        <div class="img-pnl" style="background-image: url(../../../../../assets/img/employment-history.png);">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="education.html" [routerLink]="[routesConfig.routes.uploadresume.resumeeducation]">
                                    <div class="preview-post">
                                        <h4>
                                            EDUCATION
                                        </h4>
                                        <div class="img-pnl" style="background-image: url(../../../../../assets/img/education.png);">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="certifications-trainings.html" [routerLink]="[routesConfig.routes.uploadresume.certification]">
                                    <div class="preview-post">
                                        <h4>
                                            Certifications<br>
                                            &amp; Trainings
                                        </h4>
                                        <div class="img-pnl" style="background-image: url(../../../../../assets/img/certifications-trainings.png);">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>