<section class="container-fluid">
    <div class="row">
        <div class="general-div">
            <h1>Good Evening, Jack.</h1>
            <p>Welcome back to your career toolkit.</p>
        </div>
        <div class="height-panel">
            <div class="table-cell">
                <div class="table-cell-center">
                    <div class="txt-pnl">
                        <h2> Resumé Upload</h2>
                        <a href="javascript:void(0);">
                            <img src="../../../../../assets/img/resume-upload.png" alt="Upload Resume">
                        </a>
                        <p>Get expert feedback on<br>
                            your resume, instantly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>