<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <img src="https://cf-simple-s3-origin-isolategym-s3-cf-939946006481.s3.amazonaws.com/img/close-cross.svg" alt="close">
    </button>
</div>
<div class="modal-body" style="white-space: anywhere;" [innerHTML]="message">
    <!-- {{ message }} -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary disabled" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-danger" (click)="accept()">{{ btnOkText }}</button>
</div>
