<footer class="container-fluid"><div class="row">
    <div class="footer-top full-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <img src="../../../../assets/img/footer-logo.png" alt="Logo">
                    <h4>
                        Az-Zuhaa Islamic Institute
                    </h4>
                    <p>
                        Spreading Peace with the light of Islam.<br>
                        Az-Z uhaa Islamic Institute was established in 2009. Our mission is to provide learning
                        Environment to Women, where they can Enlighten themselves by the knowledge of Quran and Sunnah.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5>
                        Navigation
                    </h5>
                    <ul class="footer-list">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="upcoming.html">Upcoming</a>
                        </li>
                        <li>
                            <a href="degree-program.html">Degree Program</a>
                        </li>
                        <li>
                            <a href="audio.html">Audio</a>
                        </li>
                        
                        <li>
                            <a href="video.html">Video</a>
                        </li>
                        <li>
                            <a href="kids-corner.html">Kids Corner</a>
                        </li>
                        <li>
                            <a href="social-welfare.html">Social Welfare</a>
                        </li>
                        <li>
                            <a href="courses.html">Courses</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5>
                        Get in Touch
                    </h5>
                    <ul class="footer-address-list">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <h6>Address</h6>
                            <p>
                                Plot 322, Block E Pia Housing Scheme,
                                Lahore, Punjab 54770, Pakistan
                            </p>
                            <a target="_blank" href="https://www.google.com/maps/place/Plot+322,+Block+E+Pia+Housing+Scheme,+Lahore,+Punjab+54770,+Pakistan/@31.4451351,74.2752339,17z/data=!3m1!4b1!4m5!3m4!1s0x3919016d6f4b5395:0x625397c2edef0464!8m2!3d31.4451305!4d74.2774226">See Location Map</a>
                        </li>
                        <li>
                            <a target="_blank" href="tel:+923238875305"><i class="fa fa-phone"></i> +92 323 8875 305</a>
                        </li>
                        <li>
                            <a target="_blank" href="tel:+923354387035"><i class="fa fa-phone"></i> +92 335 4387 035</a>
                        </li>
                    </ul>
                    <ul class="footer-social-list">
                        <li><a target="_blank" href="https://www.facebook.com/AzZuhaaIslamicInstitute/"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/azzuhaa?s=08l"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://youtube.com/channel/UCAwcvDhb3_6MvSOpl-75DJQ"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a target="_blank" href="https://instagram.com/azzuhaaofficial?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href=""><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom full-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>
                        Copyright © 2021 AZ Zuhaa Islamic Institute. All Rights Reserved.
                    </p>
                    <ul class="terms-list">
                        <li><a href="terms-conditions.html">Terms and Conditions</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div></footer>