<div class="container-fluid"
    style="    position: relative;
    min-height: calc(100vh - 396px);
    padding-top: 150px;
    height: auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;"
    id="forgot-password-page">
    <div class="row">
        <div class="container">
            <form name="templateform" style="width:100%;" class="form-container" (ngSubmit)="f.form.valid" #f="ngForm"
            [formGroup]="changePasswordform" novalidate>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6">
                    <label for="new-password">New Password
                        <div *ngIf="f.form.controls['password'].invalid && (f.form.controls['password'].dirty || f.form.controls['password'].touched)"
                        class="animated fadeIn text-danger empty-error-field">
                        <small>
                            <div *ngIf="f.form.controls['password']?.errors.required && false">
                                Field is required.
                            </div>
                            <div *ngIf="f.form.controls['password']?.errors.minlength">
                                Field minimum length should be 6.
                            </div>
                            <div *ngIf="f.form.controls['password']?.errors.maxlength">
                                Field maximum length should be 50.
                            </div>
                            <div *ngIf="f.form.controls['password']?.errors.pattern">
                                Password not Valid.
                            </div>
                        </small>
                    
                    </div>

                    </label>
                    <input id="password" name="password" type="password" formControlName="password" class="form-control" required
                    autocomplete="off" placeholder="**********" minlength="6"
                    maxlength="50">
                    <label for="confirm-password">Confirm Password
                        <small class="form-text text-danger" *ngIf="f.form.controls.confirmPassword.errors">{{f.form.controls.confirmPassword.errors.compare.message}}<br/></small>

                    </label>
                    <input id="confirm-password" name="confirm-password"  formControlName="confirmPassword" type="Password" class="form-control" autocomplete="off" placeholder="**********">
                    
                    <button type="button" (click)="onSubmit()" [disabled]="f.form.invalid
                    " class="reg-btn-small dark-grey">save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>