<header id="small-header" class="mr-top" style="background-image: url(../../../../assets/img/bg-bg.png);">
    <div class="text">
        <h1>Social Welfare</h1>
        <p>Azzuha Islamic Institute</p>
    </div>
</header>
<section id="kids-corner-page" class="container-fluid inner-page">
        <div class="row">
            <div class="container">
                <div class="row">
                    <!-- Small Post -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="small-post empty">
                            <a href="javascript:void(0);" class="img-pnl" style="background-image: url(../../../../assets/img/bg.png);"></a>
                            <div class="txt-pnl">
                                <p> Lectures / Series</p>
                            </div>
                        </div>
                    </div>
                    <!-- Small Post -->

                    <!-- Small Post -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="small-post empty">
                            <a href="javascript:void(0);" class="img-pnl" style="background-image: url(../../../../assets/img/bg.png);"></a>
                            <div class="txt-pnl">
                                <p> Workshops</p>
                            </div>
                        </div>
                    </div>
                    <!-- Small Post -->

                    <!-- Small Post -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="small-post empty">
                            <a href="javascript:void(0);" class="img-pnl" style="background-image: url(../../../../assets/img/bg.png);"></a>
                            <div class="txt-pnl">
                                <p>Courses</p>
                            </div>
                        </div>
                    </div>
                    <!-- Small Post -->

                    <!-- Small Post -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="small-post empty">
                            <a href="javascript:void(0);" class="img-pnl" style="background-image: url(../../../../assets/img/bg.png);"></a>
                            <div class="txt-pnl">
                                <p> Events</p>
                            </div>
                        </div>
                    </div>
                    <!-- Small Post -->

                </div>
            </div>
        </div>
    </section>